Repository OpenSlides/openslides-autoupdate-service, pull requests merged in 2021-07, with the labels that each got.

#238 Implement user.GetTitleInformation with new meetingID parameter
  internal/projector/slide/agenda.go
  internal/projector/slide/assignment.go
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/mediafile.go
  internal/projector/slide/motion.go
  internal/projector/slide/topic.go
  internal/projector/slide/user.go
  internal/projector/slides.go
Labels: autoupdate, projector

#240 Projector.service assignment slider
  internal/projector/slide/agenda.go
  internal/projector/slide/assignment.go
  internal/projector/slide/assignment_test.go
  internal/projector/slide/user.go
Labels: autoupdate, projector

#239 Organization tag
  internal/restrict/permission/collection/simple.go
  internal/restrict/permission/collections.go
  internal/restrict/permission/tests/testcases/agenda_item/read.yml
  internal/restrict/permission/tests/testcases/assignment/read.yml
  internal/restrict/permission/tests/testcases/committee/read.yml
  internal/restrict/permission/tests/testcases/list_of_speakers/list_read.yml
  internal/restrict/permission/tests/testcases/mediafile/read.yml
  internal/restrict/permission/tests/testcases/motion/read.yml
  internal/restrict/permission/tests/testcases/motion/read_block.yml
  internal/restrict/permission/tests/testcases/motion/read_change_recommendation.yml
  internal/restrict/permission/tests/testcases/motion/read_comment_section.yml
  internal/restrict/permission/tests/testcases/motion/read_stuff.yml
  internal/restrict/permission/tests/testcases/organization_tag/read.yml
  internal/restrict/permission/tests/testcases/personal_note/personal_note.yml
  internal/restrict/permission/tests/testcases/poll/read_motion.yml
  internal/restrict/permission/tests/testcases/poll/read_unblublished.yml
  internal/restrict/permission/tests/testcases/projector/read.yml
  internal/restrict/permission/tests/testcases/topic/read.yml
  internal/restrict/permission/tests/testcases/user/fields_in_one_meeting.yml
  internal/restrict/permission/tests/testcases/user/number.yml
  internal/restrict/permission/tests/testcases/user/required_user.yml
Labels: autoupdate, needs info

#247 Projector.service sort agenda_item_list on child base
  internal/projector/slide/agenda.go
  internal/projector/slide/agenda_test.go
Labels: autoupdate, projector

#246 Projector.service:slider CurrentSpeakerChyron and error fixes regardi…
  internal/projector/projector.go
  internal/projector/projector_test.go
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/list_of_speakers_test.go
Labels: autoupdate, projector

#261 Projector.service motion slide
  internal/projector/slide/assignment.go
  internal/projector/slide/assignment_test.go
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/meeting.go
  internal/projector/slide/motion.go
  internal/projector/slide/motion_test.go
  internal/projector/slide/user.go
Labels: autoupdate, projector

#252 Implement projection.poll slider
  internal/projector/slide/motion.go
  internal/projector/slide/poll.go
  internal/projector/slide/poll_test.go
Labels: autoupdate, projector

#248 Fix issue #243
  internal/restrict/permission/collection/motion.go
  internal/restrict/permission/perm/perm.go
  internal/restrict/permission/tests/testcases/motion/read_comment_section.yml
Labels: autoupdate

#265 Projector.service small changes on assignment poll motion
  internal/projector/slide/assignment.go
  internal/projector/slide/assignment_test.go
  internal/projector/slide/motion_test.go
  internal/projector/slide/poll.go
  internal/projector/slide/poll_test.go
Labels: autoupdate, projector, slide

#266 Projector.service list_of_speakers remove title, fill title_informati…
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/list_of_speakers_test.go
Labels: autoupdate, projector, slide

#270 Break context when fetching data
  internal/projector/projector.go
  pkg/datastore/cache.go
  pkg/datastore/datastore.go
Labels: bug

#268 Projector.service poll change float to string for DecimalFields
  internal/projector/slide/poll.go
  internal/projector/slide/poll_test.go
Labels: autoupdate, projector

#273 Rewrite list of speakers slide
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/list_of_speakers_test.go
  internal/projector/slide/meeting.go
Labels: autoupdate, projector

#274 Projector.service LOS: new field number_of_waiting_speakers and GetTitleInformation always with item_number
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/list_of_speakers_test.go
  internal/projector/slide/meeting.go
Labels: autoupdate, projector

#275 Projector.service GetTitleInformation always with filled ItemNumber from Agenda_Item
  internal/projector/slide/agenda_test.go
  internal/projector/slide/assignment.go
  internal/projector/slide/list_of_speakers_test.go
  internal/projector/slide/motion.go
  internal/projector/slide/motion_test.go
  internal/projector/slide/poll_test.go
  internal/projector/slide/topic.go
Labels: autoupdate, projector

#269 Projector.service: Remove agenda_item slide and GetTitleInformation
  internal/projector/slide/agenda.go
  internal/projector/slide/agenda_test.go
  internal/projector/slide/slide.go
Labels: autoupdate, needs info, projector

#276 Projector.service Implement motion_block slider
  internal/projector/slide/motion.go
  internal/projector/slide/motion_block.go
  internal/projector/slide/motion_block_test.go
Labels: autoupdate, projector

#281 issue233:Fix CurrentLOS error and remove keys test
  internal/projector/slide/agenda.go
  internal/projector/slide/agenda_test.go
  internal/projector/slide/assignment.go
  internal/projector/slide/assignment_test.go
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/list_of_speakers_test.go
  internal/projector/slide/mediafile.go
  internal/projector/slide/mediafile_test.go
  internal/projector/slide/meeting.go
  internal/projector/slide/motion.go
  internal/projector/slide/motion_block.go
  internal/projector/slide/motion_block_test.go
  internal/projector/slide/motion_test.go
  internal/projector/slide/poll.go
  internal/projector/slide/poll_test.go
  internal/projector/slide/projector.go
  internal/projector/slide/projector_test.go
  internal/projector/slide/topic.go
  internal/projector/slide/topic_test.go
  internal/projector/slide/user.go
  internal/projector/slide/user_test.go
Labels: autoupdate, projector, slide

#285 Fix fetch.String/Int/Ints errors and recognise deadlineExceeded as ti…
  internal/projector/slide/assignment.go
  internal/projector/slide/list_of_speakers.go
  internal/projector/slide/motion.go
  internal/projector/slide/motion_block.go
  internal/projector/slide/poll.go
  internal/projector/slide/projector.go
  internal/projector/slide/topic.go
  pkg/datastore/datastore.go
Labels: autoupdate, projector, slide
